@use '../../../assets/styles/mixins.scss' as mixins;

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding-top: clamp(12px, 1.2vw, 20px);
}


.page-container__breadcrumb {
  margin-bottom: 8px;
  color: #64748b;
  font-size: 12px;
}

.crumb {
  margin-right: 4px;
  @include mixins.ellipsis;
}

.sep {
  margin-left: 4px;
}

.page-container__header {
  margin-bottom: 12px;
  margin-left:20px
}

.page-container__header h1 {
  margin: 0;
  font-size: clamp(18px, 1.5vw, 24px);
  color: var(--q-text-primary);
}

.page-container__content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

